In [ ]:
!pip install pandas duckdb

^C

Collecting pandas
  Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp313-cp313-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in i:\dev\abhinav_shankar\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in i:\dev\abhinav_shankar\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
Downloading numpy-2.4.1-cp313-cp313-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
    --------------------------------------- 0.3/12.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.3 MB 1.5 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/12.3 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/12.3 MB 1.2 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/12.3 MB 1.2 MB/s eta 0:00:10
   ----- ---------------------------------- 1.6/12.3 MB 1.2 MB/s eta 0:00:09
   ----- ---------------------------------- 1.8/12.3 MB 1.3 MB/s eta 0:00:09
   ------ --------------------------------- 2.1/12.3 MB 1.3 MB/s eta 0:00:08
   -------- ------------------------------- 2.6/12.3 MB 1.4 MB/s eta 0:00:08
   --------- ------------------------------ 2.9/12.3 MB 1.4 MB/s eta 0:00:07
   ----------- ---------------------------- 3.4/12.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 3.9/12.3 MB 1.5 MB/s eta 0:00:06
   -------------- ------------------------- 4.5/12.3 MB 1.6 MB/s eta 0:00:05
   ---------------- ----------------------- 5.0/12.3 MB 1.7 MB/s eta 0:00:05
   ----------------- ---------------------- 5.5/12.3 MB 1.8 MB/s eta 0:00:04
   -------------------- ------------------- 6.3/12.3 MB 1.9 MB/s eta 0:00:04
   ----------------------- ---------------- 7.1/12.3 MB 2.0 MB/s eta 0:00:03
   ------------------------ --------------- 7.6/12.3 MB 2.1 MB/s eta 0:00:03
   --------------------------- ------------ 8.4/12.3 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 9.2/12.3 MB 2.2 MB/s eta 0:00:02
   -------------------------------- ------- 10.0/12.3 MB 2.3 MB/s eta 0:00:02
   ----------------------------------- ---- 11.0/12.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  12.1/12.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 2.6 MB/s  0:00:04
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]

In [16]:
import pandas as pd

# Load an Excel file (replace 'path_to_file.xlsx' with your file path)
excel_file_path = "business_data/All Product Purchase Report.xlsx"
df = pd.read_excel(excel_file_path)

# Display the first few rows
df.head(50).to_dict()

{'MARWA ENTERPRISES': {0: 'ALUVA: 683101',
  1: nan,
  2: 'All Product Purchase Report',
  3: 'Company :MONDELEZ INDIA FOODS LTD',
  4: 'From: 01/04/2025  To: 28/11/2025',
  5: nan,
  6: 'SrNo',
  7: '1',
  8: '2',
  9: '3',
  10: '4',
  11: '5',
  12: '6',
  13: '7',
  14: '8',
  15: '9',
  16: '10',
  17: '11',
  18: '12',
  19: '13',
  20: '14',
  21: '15',
  22: '16',
  23: '17',
  24: '18',
  25: '19',
  26: '20',
  27: '21',
  28: '22',
  29: '23',
  30: '24',
  31: '25',
  32: '26',
  33: '27',
  34: '28',
  35: '29',
  36: '30',
  37: '31',
  38: '32',
  39: '33',
  40: '34',
  41: '35',
  42: '36',
  43: '37',
  44: '38',
  45: '39',
  46: '40',
  47: '41',
  48: '42',
  49: '43'},
 'Unnamed: 1': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Prod.Code',
  7: '4321298',
  8: '4319977',
  9: '4328459',
  10: '4319240',
  11: '4321839',
  12: '4325962',
  13: '4329192',
  14: '4321838',
  15: '4325959',
  16: '4319241',
  17: '4319356',
  18: '4321837',
  19: '4325963',
  20: '4321840',
  21: '4328455',
  22: '4319239',
  23: '4319355',
  24: '4321835',
  25: '4325961',
  26: '4319196',
  27: '4316472',
  28: '4320146',
  29: '4323724',
  30: '4328543',
  31: '4328527',
  32: '4320586',
  33: '4323704',
  34: '4326773',
  35: '4328526',
  36: '4323741',
  37: '4323741',
  38: '4312261',
  39: '4320609',
  40: '4323545',
  41: '4323727',
  42: '4328525',
  43: '4320588',
  44: '4323742',
  45: '4321416',
  46: '4328611',
  47: '4315323',
  48: '4315323',
  49: '4315044'},
 'Unnamed: 2': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Product Name',
  7: '5STAR HT 133.5G (15UX8.9G) RS.120',
  8: '5STAR HTS 249.6G (26UX9.6G) RS.200',
  9: 'BOURNVILLE 70% RICH COCOA 75G PRC',
  10: 'BOURNVILLE 70% RICH COCOA RS.120',
  11: 'BOURNVILLE 70% RICH COCOA RS.130 75G',
  12: 'BOURNVILLE 70% RICH COCOA RS.150 75G',
  13: 'BOURNVILLE 70% RICH COCOA RS.150 75G-PRE',
  14: 'BOURNVILLE CRANBERRY 78G RS.130',
  15: 'BOURNVILLE CRANBERRY 78G RS.140',
  16: 'BOURNVILLE CRANBERRY 80G RS.120',
  17: 'BOURNVILLE FRUIT & NUT 30G RS.55',
  18: 'BOURNVILLE FRUIT & NUT 75G RS.130',
  19: 'BOURNVILLE FRUIT & NUT 75G RS.140',
  20: 'BOURNVILLE RC 75G CARTON PK RS.130',
  21: 'BOURNVILLE RC 75G CARTON PK RS.134 PRC',
  22: 'BOURNVILLE RC 80G CARTON PK RS.120',
  23: 'BOURNVILLE RICH COCOA 30G RS.55 40U',
  24: 'BOURNVILLE RUM&RAISIN 78G RS.130',
  25: 'BOURNVILLE RUM&RAISIN 78G RS.140',
  26: 'BOURNVILLE RUM&RAISIN 80G RS.120',
  27: 'BOURNVITA 1 KG 12 JARS BV BISCUITS RS.10',
  28: 'BOURNVITA 1KG GP PRICING 2025',
  29: 'BOURNVITA 1KG GP PRICING25',
  30: 'BOURNVITA 1KG GP Q3 PRC',
  31: 'BOURNVITA 200G JAR PRC',
  32: 'BOURNVITA 200G JAR PRICING 2025',
  33: 'BOURNVITA 200G JAR PRICING25',
  34: 'BOURNVITA 200G JAR Q3',
  35: 'BOURNVITA 500G JAR OMNI PRC',
  36: 'BOURNVITA 500G JAR OMNI PRICING',
  37: 'BOURNVITA 500G JAR OMNI PRICING',
  38: 'BOURNVITA 500G JAR PRICING 2024',
  39: 'BOURNVITA 500G JAR PRICING 2025',
  40: 'BOURNVITA 500G JAR TIFFIN PROMO',
  41: 'BOURNVITA 500G POUCH OMNI',
  42: 'BOURNVITA 500G POUCH OMNI Q3 PRC',
  43: 'BOURNVITA 500G POUCH PRICING 2025',
  44: 'BOURNVITA 500G POUCH TIFFIN PROMO',
  45: 'BOURNVITA 700G POUCH',
  46: 'BOURNVITA 70G PCH RS.26',
  47: 'BOURNVITA 70G POUCH',
  48: 'BOURNVITA 70G POUCH',
  49: 'BOURNVITA BISCUIT 111.6GX50U RS.35-8.33%'},
 'Unnamed: 3': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Quantity',
  7: 64,
  8: 48,
  9: 60,
  10: 60,
  11: 180,
  12: 120,
  13: 60,
  14: 60,
  15: 60,
  16: 60,
  17: 400,
  18: 120,
  19: 60,
  20: 60,
  21: 120,
  22: 60,
  23: 400,
  24: 60,
  25: 60,
  26: 60,
  27: 24,
  28: 12,
  29: 12,
  30: 12,
  31: 120,
  32: 150,
  33: 210,
  34: 30,
  35: 90,
  36: 90,
  37: 15,
  38: 15,
  39: 90,
  40: 75,
  41: 96,
  42: 32,
  43: 64,
  44: 32,
  45: 32,
  46: 192,
  47: 192,
  48: 192,
  49: 3250},
 'Unnamed: 4': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Free',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 5': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc1',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 6': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc2',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 7': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc3',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 8': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc4',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 9': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc5',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 10': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Disc6',
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0},
 'Unnamed: 11': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: 'Amount',
  7: 6189.4,
  8: 7687.05,
  9: 7253.19,
  10: 5765.29,
  11: 18737.17,
  12: 14413.22,
  13: 7253.19,
  14: 6245.72,
  15: 6726.18,
  16: 5765.29,
  17: 17616.16,
  18: 12491.45,
  19: 6726.18,
  20: 6245.72,
  21: 12959.02,
  22: 5765.29,
  23: 17616.16,
  24: 6245.72,
  25: 6763.76,
  26: 5765.29,
  27: 9546.18,
  28: 4683.41,
  29: 4982.35,
  30: 4593.34,
  31: 13840.16,
  32: 17189.06,
  33: 26157.31,
  34: 3861.33,
  35: 19782.36,
  36: 21299.61,
  37: 3569.76,
  38: 3176.25,
  39: 20178.54,
  40: 17749.67,
  41: 21523.78,
  42: 6659.33,
  43: 13552.02,
  44: 7174.59,
  45: 10070.95,
  46: 4172.1,
  47: 4783.05,
  48: 4809.75,
  49: 85011.23}}

In [1]:
# Parse the Excel file to extract metadata and load the table
import pandas as pd
import numpy as np
from IPython.display import display

excel_file_path = "business_data/All Product Purchase Report.xlsx"

def perform_eda(excel_file_path):


    # Read the raw Excel file without header to see all rows
    raw_df = pd.read_excel(excel_file_path, header=None)

    # Debug: Check the first few rows and columns
    print("Debug - First 6 rows, first column:")
    print(raw_df.iloc[0:6, 0])
    print("\nDebug - Column names:", raw_df.columns.tolist()[:5])
    print()

    # Extract metadata from rows 0-5, first column (index 0)
    metadata = {}
    if len(raw_df) > 0:
        # Get the first column (should be index 0 when header=None)
        first_col = raw_df.iloc[:, 0]
        
        # Row 0: Company name (e.g., 'MARWA ENTERPRISES')
        val_0 = first_col.iloc[0]
        if pd.notna(val_0):
            metadata['name'] = str(val_0).strip()
        
        # Row 1: Address (e.g., 'ALUVA: 683101')
        val_1 = first_col.iloc[1]
        if pd.notna(val_1):
            metadata['address'] = str(val_1).strip()
        
        # Row 2: Empty (NaN)
        # Skip row 2
        
        # Row 3: Report title (e.g., 'All Product Purchase Report')
        val_3 = first_col.iloc[3]
        if pd.notna(val_3):
            metadata['report_title'] = str(val_3).strip()
        
        # Row 4: Company (e.g., 'Company :MONDELEZ INDIA FOODS LTD')
        val_4 = first_col.iloc[4]
        if pd.notna(val_4):
            company_str = str(val_4).strip()
            if 'Company' in company_str:
                metadata['client'] = company_str.replace('Company', '').replace(':', '').strip()
            else:
                metadata['client'] = company_str
        
        # Row 5: Date range (e.g., 'From: 01/04/2025  To: 28/11/2025')
        val_5 = first_col.iloc[5]
        if pd.notna(val_5):
            date_str = str(val_5).strip()
            metadata['date_range'] = date_str
            # Extract individual dates
            if 'From:' in date_str and 'To:' in date_str:
                try:
                    from_date = date_str.split('From:')[1].split('To:')[0].strip()
                    to_date = date_str.split('To:')[1].strip()
                    metadata['from_date'] = from_date
                    metadata['to_date'] = to_date
                except Exception as e:
                    pass

    # Load the table starting from row 6 (which contains column headers)
    # Skip rows 0-5 and use row 6 as header
    df = pd.read_excel(excel_file_path, header=6)

    # Use the first row as column names (it contains the actual column headers)
    if len(df) > 0:
        # Get column names from first row
        df.columns = df.iloc[0].values
        # Drop the first row (it was the header row)
        #df = df.drop(df.index[0])

    # Clean up the DataFrame - remove any rows that are completely NaN
    print("shape of df before cleaning", df.shape)

    df = df.dropna(how='all')

    # Reset index
    df = df.reset_index(drop=True)

    # Display results
    print("Metadata:")
    for key, value in metadata.items():
        print(f"  {key}: {value}")
    print("\nDataFrame shape:", df.shape)
    print("\nDataFrame columns:", df.columns.tolist())
    print("\nFirst few rows:")
    display(df.head())


perform_eda(excel_file_path)

Debug - First 6 rows, first column:
0                    MARWA ENTERPRISES
1                        ALUVA: 683101
2                                  NaN
3          All Product Purchase Report
4    Company :MONDELEZ INDIA FOODS LTD
5     From: 01/04/2025  To: 28/11/2025
Name: 0, dtype: object

Debug - Column names: [0, 1, 2, 3, 4]

shape of df before cleaning (254, 12)
Metadata:
  name: MARWA ENTERPRISES
  address: ALUVA: 683101
  report_title: All Product Purchase Report
  client: MONDELEZ INDIA FOODS LTD
  date_range: From: 01/04/2025  To: 28/11/2025
  from_date: 01/04/2025
  to_date: 28/11/2025

DataFrame shape: (254, 12)

DataFrame columns: ['SrNo', 'Prod.Code', 'Product Name', 'Quantity', 'Free', 'Disc1', 'Disc2', 'Disc3', 'Disc4', 'Disc5', 'Disc6', 'Amount']

First few rows:

,SrNo,Prod.Code,Product Name,Quantity,Free,Disc1,Disc2,Disc3,Disc4,Disc5,Disc6,Amount
0,SrNo,Prod.Code,Product Name,Quantity,Free,Disc1,Disc2,Disc3,Disc4,Disc5,Disc6,Amount
1,1,4321298,5STAR HT 133.5G (15UX8.9G) RS.120,64,0,0,0,0,0,0,0,6189.4
2,2,4319977,5STAR HTS 249.6G (26UX9.6G) RS.200,48,0,0,0,0,0,0,0,7687.05
3,3,4328459,BOURNVILLE 70% RICH COCOA 75G PRC,60,0,0,0,0,0,0,0,7253.19
4,4,4319240,BOURNVILLE 70% RICH COCOA RS.120,60,0,0,0,0,0,0,0,5765.29

In [14]:
perform_eda("business_data/Salesman Wise PARTY Wise Summary 1-04-2025 to 28-11-25.xlsx")

Debug - First 6 rows, first column:
0                         MARWA ENTERPRISES
1                             ALUVA: 683101
2                                       NaN
3          Salesman Wise PARTY Wise Summary
4                            Company   :CAD
5    From Date :01/04/2025 To Dt:28/11/2025
Name: 0, dtype: object

Debug - Column names: [0, 1, 2, 3, 4]

shape of df before cleaning (4398, 9)
Metadata:
  company_name: MARWA ENTERPRISES
  address: ALUVA: 683101
  report_title: Salesman Wise PARTY Wise Summary
  company: Company   :CAD
  date_range: From Date :01/04/2025 To Dt:28/11/2025

DataFrame shape: (4394, 9)

DataFrame columns: ['Sr.', 'Series', 'Bill No.', 'Date', 'Party', 'Amount', 'Kg.', 'Lines', 'Cash Discount']

First few rows:

,Sr.,Series,Bill No.,Date,Party,Amount,Kg.,Lines,Cash Discount
0,Sr.,Series,Bill No.,Date,Party,Amount,Kg.,Lines,Cash Discount
1,1,GSTA,1,01/04/2025,ZAINA BAKERY AND BIRIYANI HOUSE.,12296,13.1734,24,0
2,2,GSTA,2,01/04/2025,Amal Palace Bakery,14576,13.8248,27,0
3,3,GSTB,1,01/04/2025,THANIMA BAKERY,2766,3.9528,9,0
4,4,GSTB,2,01/04/2025,ROYAL SWEETS PONJASSERY,4636,5.616,12,0

In [1]:
import pandas as pd
import numpy as np
import duckdb
import hashlib
import re
from pathlib import Path
from IPython.display import display

# Initialize DuckDB connection
conn = duckdb.connect()

def generate_table_name(file_path):
    """
    Generate a table name from filename + file hash.
    Format: filename_lowercase_letters_only_hash5
    Only keeps letters (a-z), removes numbers, special characters, and stop words.
    """
    # Common stop words to remove
    stop_words = {
        'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from',
        'has', 'he', 'in', 'is', 'it', 'its', 'of', 'on', 'that', 'the',
        'to', 'was', 'were', 'will', 'with', 'wise', 'all', 'any', 'both',
        'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor',
        'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 'can',
        'could', 'should', 'would', 'may', 'might', 'must', 'shall'
    }
    
    # Get filename without extension
    path_obj = Path(file_path)
    filename = path_obj.stem  # filename without extension
    
    # Generate file hash
    with open(file_path, 'rb') as f:
        file_hash = hashlib.md5(f.read()).hexdigest()[:5]
    
    # Convert to lowercase and keep ONLY letters (a-z), replace everything else with underscore
    # This removes numbers, spaces, hyphens, and all special characters
    name_part = re.sub(r'[^a-z]', '_', filename.lower())
    
    # Split by underscores and filter out stop words
    words = [word for word in name_part.split('_') if word and word not in stop_words]
    
    # Join words back with underscores
    name_part = '_'.join(words)
    
    # Remove multiple consecutive underscores and strip underscores from ends
    name_part = re.sub(r'_+', '_', name_part).strip('_')
    
    # If name_part is empty after removing all non-letters and stop words, use a default
    if not name_part:
        name_part = 'table'
    
    # Combine: filename_hash
    table_name = f"{name_part}_{file_hash}"
    
    return table_name

def load_excel_to_dataframe(excel_file_path):
    """
    Load an Excel file and extract both metadata and data table.
    Returns a tuple: (metadata_dict, cleaned_dataframe)
    """
    # Read the raw Excel file without header to see all rows
    raw_df = pd.read_excel(excel_file_path, header=None)
    
    # Extract metadata from rows 0-5, first column (index 0)
    metadata = {}
    if len(raw_df) > 0:
        first_col = raw_df.iloc[:, 0]
        
        # Row 0: Company name
        val_0 = first_col.iloc[0]
        if pd.notna(val_0):
            metadata['name'] = str(val_0).strip()
        
        # Row 1: Address
        val_1 = first_col.iloc[1]
        if pd.notna(val_1):
            metadata['address'] = str(val_1).strip()
        
        # Row 3: Report title
        val_3 = first_col.iloc[3]
        if pd.notna(val_3):
            metadata['report_title'] = str(val_3).strip()
        
        # Row 4: Company/Client
        val_4 = first_col.iloc[4]
        if pd.notna(val_4):
            company_str = str(val_4).strip()
            if 'Company' in company_str:
                metadata['client'] = company_str.replace('Company', '').replace(':', '').strip()
            else:
                metadata['client'] = company_str
        
        # Row 5: Date range
        val_5 = first_col.iloc[5]
        if pd.notna(val_5):
            date_str = str(val_5).strip()
            metadata['date_range'] = date_str
            if 'From' in date_str and 'To' in date_str:
                try:
                    if 'From:' in date_str:
                        from_date = date_str.split('From:')[1].split('To:')[0].strip()
                        to_date = date_str.split('To:')[1].strip()
                    elif 'From Date' in date_str:
                        from_date = date_str.split('From Date')[1].split('To')[0].replace(':', '').strip()
                        to_date = date_str.split('To Dt:')[1].strip()
                    else:
                        from_date = date_str.split('From')[1].split('To')[0].strip()
                        to_date = date_str.split('To')[1].strip()
                    metadata['from_date'] = from_date
                    metadata['to_date'] = to_date
                except Exception as e:
                    pass
    
    # Load the table starting from row 6 (which contains column headers)
    df = pd.read_excel(excel_file_path, header=6)
    
    # Use the first row as column names
    if len(df) > 0:
        df.columns = df.iloc[0].values
        # Drop the first row (it was the header row)
        df = df.drop(df.index[0])
    
    # Clean up the DataFrame
    df = df.dropna(how='all')
    df = df.reset_index(drop=True)
    
    # Remove any rows where the first column contains the header names (duplicate headers)
    if len(df) > 0:
        first_col_name = df.columns[0]
        # Remove rows where first column equals the column name itself
        df = df[df[first_col_name] != first_col_name]
        df = df.reset_index(drop=True)
    
    # Convert date columns to DATE type if they exist
    date_columns = ['Date', 'from_date', 'to_date']  # Common date column names
    for col in date_columns:
        if col in df.columns:
            try:
                # Try to parse dates in DD/MM/YYYY format
                df[col] = pd.to_datetime(df[col], format='%d/%m/%Y', errors='coerce')
            except:
                try:
                    # Fallback to auto-detect format
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                except:
                    pass  # Keep as string if conversion fails
    
    return metadata, df

# Load each Excel file
excel_files = [
    'business_data/All Product Purchase Report.xlsx',
    'business_data/Salesman Wise PARTY Wise Summary 1-04-2025 to 28-11-25.xlsx',
    'business_data/Salesman Wise Product Summary.xlsx'
]

dataframes = {}
metadata_dict = {}
file_to_table = {}  # Map file paths to table names

for file_path in excel_files:
    print(f"\n{'='*60}")
    print(f"Loading: {file_path}")
    print(f"{'='*60}")
    
    try:
        # Generate table name automatically
        table_name = generate_table_name(file_path)
        file_to_table[file_path] = table_name
        
        print(f"Generated table name: {table_name}")
        
        metadata, df = load_excel_to_dataframe(file_path)
        metadata_dict[table_name] = metadata
        dataframes[table_name] = df
        
        print(f" Successfully loaded {table_name}")
        print(f"  Shape: {df.shape}")
        print(f"  Columns: {list(df.columns)}")
        print(f"  Metadata: {metadata}")
        
        # Create DuckDB table
        conn.register(table_name, df)
        print(f" Created DuckDB table: {table_name}")
        
    except Exception as e:
        print(f" Error loading {file_path}: {str(e)}")
        import traceback
        traceback.print_exc()

# Create metadata table
metadata_rows = []
for table_name, meta in metadata_dict.items():
    # Find the source file for this table
    source_file = None
    for file_path, tbl_name in file_to_table.items():
        if tbl_name == table_name:
            source_file = file_path
            break
    
    row = {
        'table_name': table_name,
        'source_file': source_file,
        'name': meta.get('name', None),
        'address': meta.get('address', None),
        'report_title': meta.get('report_title', None),
        'client': meta.get('client', None),
        'date_range': meta.get('date_range', None),
        'from_date': meta.get('from_date', None),
        'to_date': meta.get('to_date', None),
        'row_count': len(dataframes[table_name]),
        'column_count': len(dataframes[table_name].columns)
    }
    metadata_rows.append(row)

metadata_df = pd.DataFrame(metadata_rows)
conn.register('metadata', metadata_df)
print(f" Created DuckDB table: metadata")

print(f"\n{'='*60}")
print("Summary:")
print(f"{'='*60}")
print(f"Total tables created: {len(dataframes) + 1} (including metadata)")
print(f"\nAvailable tables in DuckDB:")
for table_name in dataframes.keys():
    result = conn.execute(f"SELECT COUNT(*) as row_count FROM {table_name}").fetchone()
    print(f"  - {table_name}: {result[0]} rows")
print(f"  - metadata: {len(metadata_df)} rows")

print(f"\nMetadata table contents:")
print("=" * 60)
display(metadata_df)

============================================================
Loading: business_data/All Product Purchase Report.xlsx
============================================================
Generated table name: product_purchase_report_9690b
 Successfully loaded product_purchase_report_9690b
  Shape: (253, 12)
  Columns: ['SrNo', 'Prod.Code', 'Product Name', 'Quantity', 'Free', 'Disc1', 'Disc2', 'Disc3', 'Disc4', 'Disc5', 'Disc6', 'Amount']
  Metadata: {'name': 'MARWA ENTERPRISES', 'address': 'ALUVA: 683101', 'report_title': 'All Product Purchase Report', 'client': 'MONDELEZ INDIA FOODS LTD', 'date_range': 'From: 01/04/2025  To: 28/11/2025', 'from_date': '01/04/2025', 'to_date': '28/11/2025'}
 Created DuckDB table: product_purchase_report_9690b

============================================================
Loading: business_data/Salesman Wise PARTY Wise Summary 1-04-2025 to 28-11-25.xlsx
============================================================
Generated table name: salesman_party_summary_dd804
 Successfully loaded salesman_party_summary_dd804
  Shape: (4393, 9)
  Columns: ['Sr.', 'Series', 'Bill No.', 'Date', 'Party', 'Amount', 'Kg.', 'Lines', 'Cash Discount']
  Metadata: {'name': 'MARWA ENTERPRISES', 'address': 'ALUVA: 683101', 'report_title': 'Salesman Wise PARTY Wise Summary', 'client': 'CAD', 'date_range': 'From Date :01/04/2025 To Dt:28/11/2025', 'from_date': '01/04/2025', 'to_date': '28/11/2025'}
 Created DuckDB table: salesman_party_summary_dd804

============================================================
Loading: business_data/Salesman Wise Product Summary.xlsx
============================================================
Generated table name: salesman_product_summary_e6802
 Successfully loaded salesman_product_summary_e6802
  Shape: (471, 12)
  Columns: ['Sr.', 'ProductName', 'Case Size', 'MRP', 'QTY', 'Free', 'Disc', 'Other Disc', 'Total Amt', 'Kg.', 'Bills', 'Outlet(s)']
  Metadata: {'name': 'MARWA ENTERPRISES', 'address': 'ALUVA: 683101', 'report_title': 'Salesman Wise Product Summary', 'client': 'CAD', 'date_range': 'From Date :01/04/2024 To Dt:31/03/2025', 'from_date': '01/04/2024', 'to_date': '31/03/2025'}
 Created DuckDB table: salesman_product_summary_e6802
 Created DuckDB table: metadata

============================================================
Summary:
============================================================
Total tables created: 4 (including metadata)

Available tables in DuckDB:
  - product_purchase_report_9690b: 253 rows
  - salesman_party_summary_dd804: 4393 rows
  - salesman_product_summary_e6802: 471 rows
  - metadata: 3 rows

Metadata table contents:
============================================================

,table_name,source_file,name,address,report_title,client,date_range,from_date,to_date,row_count,column_count
0,product_purchase_report_9690b,business_data/All Product Purchase Report.xlsx,MARWA ENTERPRISES,ALUVA: 683101,All Product Purchase Report,MONDELEZ INDIA FOODS LTD,From: 01/04/2025 To: 28/11/2025,01/04/2025,28/11/2025,253,12
1,salesman_party_summary_dd804,business_data/Salesman Wise PARTY Wise Summary...,MARWA ENTERPRISES,ALUVA: 683101,Salesman Wise PARTY Wise Summary,CAD,From Date :01/04/2025 To Dt:28/11/2025,01/04/2025,28/11/2025,4393,9
2,salesman_product_summary_e6802,business_data/Salesman Wise Product Summary.xlsx,MARWA ENTERPRISES,ALUVA: 683101,Salesman Wise Product Summary,CAD,From Date :01/04/2024 To Dt:31/03/2025,01/04/2024,31/03/2025,471,12

Example: Query product_purchase table
============================================================

,SrNo,Prod.Code,Product Name,Quantity,Free,Disc1,Disc2,Disc3,Disc4,Disc5,Disc6,Amount
0,1,4321298,5STAR HT 133.5G (15UX8.9G) RS.120,64.0,0,0,0,0,0,0,0,6189.40
1,2,4319977,5STAR HTS 249.6G (26UX9.6G) RS.200,48.0,0,0,0,0,0,0,0,7687.05
2,3,4328459,BOURNVILLE 70% RICH COCOA 75G PRC,60.0,0,0,0,0,0,0,0,7253.19
3,4,4319240,BOURNVILLE 70% RICH COCOA RS.120,60.0,0,0,0,0,0,0,0,5765.29
4,5,4321839,BOURNVILLE 70% RICH COCOA RS.130 75G,180.0,0,0,0,0,0,0,0,18737.17

Example: Query party_wise_summary table
============================================================

,Sr.,Series,Bill No.,Date,Party,Amount,Kg.,Lines,Cash Discount
0,1,GSTA,1,2025-04-01,ZAINA BAKERY AND BIRIYANI HOUSE.,12296.0,13.1734,24,0
1,2,GSTA,2,2025-04-01,Amal Palace Bakery,14576.0,13.8248,27,0
2,3,GSTB,1,2025-04-01,THANIMA BAKERY,2766.0,3.9528,9,0
3,4,GSTB,2,2025-04-01,ROYAL SWEETS PONJASSERY,4636.0,5.6160,12,0
4,5,GSTB,3,2025-04-01,BAKERS INN,1721.0,2.4152,4,0

Example: Query product_summary table
============================================================

,Sr.,ProductName,Case Size,MRP,QTY,Free,Disc,Other Disc,Total Amt,Kg.,Bills,Outlet(s)
0,1,5STAR HTS 151.5G (15UX10.1G) MIDAS,64.0,120.00,149,0,1684.34,0,13529.07,22.574,46,25
1,2,5STAR HTS 191.9G (19UX10.1G) MIDAS,48.0,149.00,48,0,800.47,0,5411.62,9.211,17,10
2,3,5STAR HTS 252.5G (25UX10.1G) MIDAS,48.0,200.00,5,0,0.00,0,756.66,1.263,1,1
3,4,5STAR KITTED PACK 108G (18GX6U),96.0,60.00,96,0,54.48,0,4358.35,10.368,5,5
4,5,BOURNVILLE 70% RICH COCOA RS.110,60.0,110.00,84,0,261.36,0,6991.53,6.720,26,16

Example: Query metadata table
============================================================

,table_name,source_file,name,address,report_title,client,date_range,from_date,to_date,row_count,column_count
0,product_purchase,business_data/All Product Purchase Report.xlsx,MARWA ENTERPRISES,ALUVA: 683101,All Product Purchase Report,MONDELEZ INDIA FOODS LTD,From: 01/04/2025 To: 28/11/2025,01/04/2025,28/11/2025,253,12
1,party_wise_summary,business_data/Salesman Wise PARTY Wise Summary...,MARWA ENTERPRISES,ALUVA: 683101,Salesman Wise PARTY Wise Summary,CAD,From Date :01/04/2025 To Dt:28/11/2025,01/04/2025,28/11/2025,4393,9
2,product_summary,business_data/Salesman Wise Product Summary.xlsx,MARWA ENTERPRISES,ALUVA: 683101,Salesman Wise Product Summary,CAD,From Date :01/04/2024 To Dt:31/03/2025,01/04/2024,31/03/2025,471,12

Example: Get table schemas
============================================================

product_purchase schema:

     column_name column_type null   key default extra
0           SrNo     VARCHAR  YES  None    None  None
1      Prod.Code     VARCHAR  YES  None    None  None
2   Product Name     VARCHAR  YES  None    None  None
3       Quantity      DOUBLE  YES  None    None  None
4           Free     INTEGER  YES  None    None  None
5          Disc1     INTEGER  YES  None    None  None
6          Disc2     INTEGER  YES  None    None  None
7          Disc3     INTEGER  YES  None    None  None
8          Disc4     INTEGER  YES  None    None  None
9          Disc5     INTEGER  YES  None    None  None
10         Disc6     INTEGER  YES  None    None  None
11        Amount      DOUBLE  YES  None    None  None

party_wise_summary schema:

     column_name   column_type null   key default extra
0            Sr.       VARCHAR  YES  None    None  None
1         Series       VARCHAR  YES  None    None  None
2       Bill No.       VARCHAR  YES  None    None  None
3           Date  TIMESTAMP_NS  YES  None    None  None
4          Party       VARCHAR  YES  None    None  None
5         Amount        DOUBLE  YES  None    None  None
6            Kg.        DOUBLE  YES  None    None  None
7          Lines       INTEGER  YES  None    None  None
8  Cash Discount       INTEGER  YES  None    None  None

product_summary schema:

    column_name column_type null   key default extra
0           Sr.     VARCHAR  YES  None    None  None
1   ProductName     VARCHAR  YES  None    None  None
2     Case Size      DOUBLE  YES  None    None  None
3           MRP     VARCHAR  YES  None    None  None
4           QTY     INTEGER  YES  None    None  None
5          Free     INTEGER  YES  None    None  None
6          Disc      DOUBLE  YES  None    None  None
7    Other Disc     INTEGER  YES  None    None  None
8     Total Amt      DOUBLE  YES  None    None  None
9           Kg.      DOUBLE  YES  None    None  None
10        Bills     INTEGER  YES  None    None  None
11    Outlet(s)     INTEGER  YES  None    None  None

metadata schema:

     column_name column_type null   key default extra
0     table_name     VARCHAR  YES  None    None  None
1    source_file     VARCHAR  YES  None    None  None
2           name     VARCHAR  YES  None    None  None
3        address     VARCHAR  YES  None    None  None
4   report_title     VARCHAR  YES  None    None  None
5         client     VARCHAR  YES  None    None  None
6     date_range     VARCHAR  YES  None    None  None
7      from_date     VARCHAR  YES  None    None  None
8        to_date     VARCHAR  YES  None    None  None
9      row_count      BIGINT  YES  None    None  None
10  column_count      BIGINT  YES  None    None  None

============================================================
DuckDB Date Functions Examples
============================================================

1. Date column type and sample values:

        Date     date_type  year  month  day day_name
0 2025-04-01  TIMESTAMP_NS  2025      4    1  Tuesday
1 2025-04-01  TIMESTAMP_NS  2025      4    1  Tuesday
2 2025-04-01  TIMESTAMP_NS  2025      4    1  Tuesday
3 2025-04-01  TIMESTAMP_NS  2025      4    1  Tuesday
4 2025-04-01  TIMESTAMP_NS  2025      4    1  Tuesday

2. Filter by date range:

        Date                             Party   Amount
0 2025-04-01  ZAINA BAKERY AND BIRIYANI HOUSE.  12296.0
1 2025-04-01                Amal Palace Bakery  14576.0
2 2025-04-01                    THANIMA BAKERY   2766.0
3 2025-04-01           ROYAL SWEETS PONJASSERY   4636.0
4 2025-04-01                        BAKERS INN   1721.0
5 2025-04-01                        Cylon bake   2643.0
6 2025-04-01          BABAS BAKERY PERUMBAVOOR   1755.0
7 2025-04-01      NAYATHANS BAKERY PERUMBAVOOR   3980.0
8 2025-04-01           KUMAR BAKER PERUMBAVOOR    665.0
9 2025-04-01                    MUBARAK STORES   2173.0

3. Group by month:

     month  transaction_count  total_amount
0  2025-04                577    2999508.27
1  2025-05                564    2784268.86
2  2025-06                554    2635884.42
3  2025-07                691    3023125.06
4  2025-08                609    2948117.00
5  2025-09                424    1751524.00
6  2025-10                506    2343213.00
7  2025-11                463    2260479.00

4. Date functions available in DuckDB:
   - DATE, TIMESTAMP types
   - year(), month(), day(), dayname()
   - date_trunc('month', date)
   - date_add(date, interval '1 day')
   - date_diff('day', date1, date2)
   - strftime(date, format)
   - And many more!